#aboutUs {
    width: 100%;
    height: 100%;
    background-color: #111;
    margin-top: 12%;
}

.aboutUsDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.aboutUsTitle {
    color: #fff;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    position: relative;
}

.aboutUsTitle::after {
    content: '';
    height: 4px;
    border-radius: 8px;
    width: 50%;
    background-color: #1579D6;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25%);
    top: 1.5em;
}

.aboutUsDiv2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
}

.aboutUsPara {
    color: #fff;
    opacity: 80%;
    font-size: 1.5em;
    line-height: 160%;
}


/*ScrollDown*/


/* .scrolldown {
    position: relative;
    bottom: -30%;
    left: calc(50% - 1%);
    width: 25px;
    height: 25px;
    transform: translateY(-90%) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: 0.35s;
}

.scrolldown span:nth-child(2) {
    transform: translate(0, 0);
    animation-delay: 0.2s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
} */


/* Responsive styles for title */

@media only screen and (max-width: 1000px) {
    .aboutUsTitle {
        font-size: 40px;
    }
}


/* Responsive styles */

@media only screen and (max-width:650px) {
    .scrolldown {
        bottom: -15%;
    }
}

@media only screen and (max-width:600px) {
    #aboutUs {
        margin-top: 25%;
    }
}

@media only screen and (max-width:550px) {
    .aboutUsTitle {
        font-size: 32px;
    }
    .aboutUsPara {
        font-size: 20px;
    }
    .scrolldown {
        bottom: -25%;
    }
}

@media only screen and (max-width:470px) {
    #aboutUs {
        margin-top: 30%;
    }
}

@media only screen and (max-width:360px) {
    .aboutUsTitle {
        font-size: 28px;
    }
    .aboutUsPara {
        font-size: 16px;
    }
    .aboutUsTitle:after {
        top: 46px;
    }
    .scrolldown {
        bottom: -25%;
    }
    #aboutUs {
        margin-top: 35%;
    }
}

@media only screen and (max-width:320px) {
    #aboutUs {
        margin-top: 40%;
    }
}

@media only screen and (max-width:300px) {
    .aboutUsTitle {
        font-size: 20px;
    }
    .aboutUsPara {
        font-size: 12px;
    }
    .aboutUsTitle:after {
        top: 42px;
    }
    #home::before {
        height: 80%;
    }
    #about {
        margin-top: 70%;
    }
}