    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: #111;
        font-family: 'inter', sans-serif;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    /*ScrollBar*/
    
     ::-webkit-scrollbar {
        width: 11px;
        cursor: pointer;
    }
    
     ::-webkit-scrollbar-track {
        border-radius: 5px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
        background-color: black
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(19, 129, 230, 0.8);
        ;
    }
    /* Home Section */
    
    #home {
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }
    
    #home::before {
        content: "";
        background: url('/Images/Heroimage.png');
        background-size: cover;
        position: absolute;
        background-position: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-top: 264px;
        margin-right: 0;
        width: 100%;
    }
    
    p.Sub-title {
        color: rgba(255, 255, 255, 0.603);
        display: block;
        font-size: 24px;
        margin: 0;
        padding-bottom: 32px;
        font-weight: 600;
    }
    
    p.Hero-title1 {
        color: white;
        font-size: 72px;
        display: block;
        margin: 0;
        font-weight: 900;
        padding-top: 8px;
    }
    
    p.Hero-title2 {
        color: white;
        font-size: 72px;
        margin: 0;
        display: block;
        font-weight: 900;
    }
    
    span {
        margin-left: 4px;
        color: #1579D6;
    }
    /*Floating Socials*/
    
    .socialsFloat {
        position: absolute;
        top: 365px;
    }
    
    .socialsFloat a {
        width: 36px;
        height: 36px;
        background: #1579D6;
        border-radius: 50%;
        /* border: 1px solid #1579D6; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        transition: all 0.2s ease-in;
    }
    
    .socialsFloat a:hover {
        width: 46px;
        height: 46px;
    }
    
    .bigsocial {
        width: 23px;
    }
    
    .heroArrowDiv {
        display: flex;
        justify-content: center;
        margin-top: 190px;
        align-items: center;
    }
    
    .heroArrow {
        opacity: 0.8;
    }
    
    .heroArrow {
        transition: all 0.3s ease-in-out;
    }
    
    .heroArrow:hover {
        transform: translateY(8px);
        opacity: 1;
    }
    /* Scroll to top*/
    
    .scroll-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        border: 2px solid rgba(19, 129, 230, 0.8);
        ;
        width: 50px;
        height: 50px;
        font-size: 24px;
        color: #fff;
        background-color: rgba(19, 129, 230, 0.8);
        opacity: 90%;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out
    }
    
    .scroll-to-top:hover {
        font-size: 30px;
    }
    
    .fa-chevron-up:before {
        content: "\f077";
    }
    /* Responsive styles */
    
    @media only screen and (max-width:1150px) {
        .heroArrowDiv {
            margin-top: 152px;
        }
        p.Hero-title1 {
            font-size: 56px;
        }
        p.Hero-title2 {
            font-size: 56px;
        }
        .socialsFloat a {
            margin-bottom: 12px;
        }
        .socialsFloat {
            position: absolute;
            top: 348px;
        }
    }
    
    @media only screen and (max-width:1045px) {
        .heroArrowDiv {
            margin-top: 180px;
        }
        p.Hero-title1 {
            font-size: 52px;
        }
        p.Hero-title2 {
            font-size: 52px;
        }
        p.Sub-title {
            font-size: 20px;
            padding-bottom: 24px;
        }
        .socialsFloat a {
            margin-bottom: 12px;
        }
        .socialsFloat {
            position: absolute;
            top: 336px;
        }
        .socialsFloat a {
            width: 32px;
            height: 32px;
        }
        .bigsocial {
            width: 18px;
        }
        .socialsFloat a:hover {
            width: 40px;
            height: 40px;
        }
    }
    
    @media only screen and (max-width:980px) {
        .heroArrowDiv {
            margin-top: 200px;
        }
        div.hero {
            display: flex;
            flex-direction: column;
            margin-left: 8%;
            margin-top: 264px;
        }
        p.Hero-title1 {
            font-size: 44px;
        }
        p.Hero-title2 {
            font-size: 44px;
        }
        p.Sub-title {
            font-size: 18px;
            padding-bottom: 20px;
        }
        .socialsFloat {
            position: absolute;
            top: 322px;
        }
    }
    
    @media only screen and (max-width:840px) {
        .heroArrowDiv {
            margin-top: 195px;
        }
        .socialsFloat {
            top: 332px;
        }
        .socialsFloat a {
            width: 24px;
            height: 24px;
        }
        .socialsFloat a:hover {
            width: 34px;
            height: 34px;
        }
        .bigsocial {
            width: 13px;
        }
    }
    
    @media only screen and (max-width:755px) {
        .socialsFloat {
            float: right;
            position: relative;
            top: -140px;
            margin-left: 48px;
        }
        .socialsFloat a {
            width: 28px;
            height: 28px;
        }
        .socialsFloat a:hover {
            width: 36px;
            height: 36px;
        }
        .bigsocial {
            width: 16px;
        }
        p.Sub-title {
            font-size: 16px;
        }
        .heroArrowDiv {
            margin-top: 150px;
        }
    }
    
    @media only screen and (max-width:720px) {
        div.socialsFloat {
            display: none;
        }
        .hero {
            margin-left: 0%;
        }
    }
    
    @media only screen and (max-width:690px) {
        div.hero {
            margin-top: 232px;
        }
        .heroArrowDiv {
            margin-top: 190px;
        }
    }
    
    @media only screen and (max-width:680px) {
        div.socialsFloat {
            display: none;
        }
        div.hero {
            margin-left: 0;
            padding-left: 0;
        }
        .heroArrowDiv {
            margin-top: 180px;
        }
    }
    
    @media only screen and (max-width:615px) {
        .heroArrowDiv {
            margin-top: 156px;
        }
    }
    
    @media only screen and (max-width:600px) {
        p.Hero-title1 {
            font-size: 36px;
        }
        p.Hero-title2 {
            font-size: 36px;
        }
        .scroll-to-top {
            right: 10%;
            width: 40px;
            height: 40px;
        }
        div.hero {
            margin-left: 0%;
            width: 80vh;
            margin-left: -80px;
        }
    }
    
    @media only screen and (max-width:515px) {
        p.Sub-title {
            font-size: 14px;
        }
        div.hero {
            margin-left: 0%;
            width: 65vh;
            margin-left: -80px;
        }
    }
    
    @media only screen and (max-width:495px) {
        div.hero {
            margin-left: 0%;
            width: 57vh;
            margin-left: -80px;
        }
    }
    
    @media only screen and (max-width:465px) {
        #home::before {
            height: 90%;
        }
        div.hero {
            margin-left: 0%;
            width: 60vh;
            margin-left: -80px;
        }
        p.Hero-title1 {
            font-size: 32px;
        }
        p.Hero-title2 {
            font-size: 32px;
        }
        .heroArrowDiv a img {
            width: 80%;
        }
    }
    
    @media only screen and (max-width:455px) {
        div.hero {
            width: 50vh;
        }
        p.Hero-title1 {
            font-size: 32px;
        }
        p.Hero-title2 {
            font-size: 32px;
        }
        .heroArrowDiv a img {
            width: 80%;
        }
    }
    
    @media only screen and (max-width:390px) {
        div.hero {
            width: 52vh;
        }
        p.Sub-title {
            font-size: 10px;
            padding-bottom: 4px
        }
        p.Hero-title1 {
            font-size: 28px
        }
        p.Hero-title2 {
            font-size: 28px;
        }
    }
    
    @media only screen and (max-width:375px) {
        .heroArrowDiv {
            margin-top: 100px;
        }
    }
    
    @media only screen and (max-width:330px) {
        div.hero {
            width: 40vh;
        }
        p.Sub-title {
            font-size: 10px;
        }
    }
    
    @media only screen and (max-width:310px) {
        div.hero {
            width: 40vh;
        }
        p.Sub-title {
            font-size: 10px;
        }
        p.Hero-title1 {
            font-size: 22px
        }
        p.Hero-title2 {
            font-size: 22px;
        }
    }
    /* Responiveness for particular devices */
    
    @media only screen and (max-width:320px) and (min-height:560px) {
        .heroArrowDiv {
            margin-top: 140px;
        }
    }
    
    @media only screen and (max-width:360px) and (min-height:640px) {
        .heroArrowDiv {
            margin-top: 130px;
        }
    }
    
    @media only screen and (max-width:320px) and (min-height:568px) {
        .heroArrowDiv {
            margin-top: 60px;
        }
    }
    
    @media only screen and (max-width:375px) and (min-height:812px) {
        #home::before {
            height: 70%;
            ;
        }
        div.hero {
            width: 45vh;
        }
    }