*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #111;
    font-family: 'inter', sans-serif;
}

/* Home Section */

#home{
    background-image: url(../Images/Heroimage.png);
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
div.hero {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 264px;
}
p.Sub-title {
    color: rgba(255, 255, 255, 0.603);
    display: inline-block;
    font-size: 24px;
    margin: 0;
    padding-bottom: 32px;
    font-weight: 600;
}
p.Hero-title1 {
    color: white;
    font-size: 72px;
    display: inline-block;
    margin: 0;
    font-weight: 800;
    padding-top: 8px;
}
p.Hero-title2 {
    color: white;
    font-size: 72px;
    margin: 0;
    display: inline;
    font-weight: 800;
}
span {
    margin-left: 16px;
    color: #1579D6;
}

/*Floating Socials*/

.socialsFloat{
    position: absolute;
    top: 365px;
}
.socialsFloat a{
    width: 36px;
    height: 36px;
    background: #1579D6;
    border-radius: 50%;
    /* border: 1px solid #1579D6; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    transition: all 0.2s ease-in;
}
.socialsFloat a:hover{
    width: 46px;
    height: 46px;
}
.bigsocial{
    width: 23px;
}
