#sponsors {
    width: 100%;
    height: 80vh;
    background-color: #111;
}

.sponsorsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sponsorsText {
    color: #fff;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-top: 13%;
    margin-bottom: 5%;
    position: relative;
}

.sponsorsText:after {
    content: '';
    background-color: #1579D6;
    position: absolute;
    border-radius: 8px;
    height: 4px;
    width: 50%;
    bottom: 0;
    left: calc(50% - 25%);
    top: 82px;
}

.sponsorsIconsDiv {
    display: flex;
    align-items: center;
    margin-top: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 3%;
}

@keyframes translation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-5100px);
    }
}

.sponsorsIconsImg {
    width: 15%;
    display: inline-block;
    margin: 0px 80px 0px 80px;
    animation: translation 50s linear infinite;
}


/* Responsive styles  */

@media only screen and (max-width:1200px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-4850px);
        }
    }
}

@media only screen and (max-width:1000px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-4650px);
        }
    }
    #sponsors {
        height: 70vh;
    }
}

@media only screen and (max-width:800px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-4450px);
        }
    }
    #sponsors {
        height: 65vh;
    }
}

@media only screen and (max-width:600px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-4250px);
        }
    }
    #sponsors {
        height: 60vh;
    }
}

@media only screen and (max-width:400px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-4050px);
        }
    }
    #sponsors {
        height: 50vh;
    }
}

@media only screen and (max-width:300px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-3950px);
        }
    }
    #sponsors {
        height: 0vh;
    }
}

@media only screen and (max-width:200px) {
    @keyframes translation {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-3850px);
        }
    }
}


/* Responisveness title */

@media only screen and (max-width:550px) {
    .sponsorsText {
        font-size: 32px;
    }
    .sponsorsText:after {
        top: 64px;
    }
    #sponsors {
        height: 50vh;
    }
}

@media only screen and (max-width:360px) {
    .sponsorsText {
        font-size: 24px;
    }
    .sponsorsText:after {
        top: 44px;
    }
    #sponsors {
        height: 40vh;
    }
}

@media only screen and (max-width:300px) {
    .sponsorsText {
        font-size: 20px;
    }
    .sponsorsText:after {
        top: 42px;
    }
}