#sponsors {
    width: 100%;
    height: 80vh;
    background-color: #111;
}
.sponsorsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sponsorsText {
    color: #fff;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-top: 13%;
    margin-bottom: 5%;
    position: relative;
}
.sponsorsText:after {
    content: '';
    background-color: #1579D6;
    position: absolute;
    border-radius: 8px;
    height: 4px;
    width: 50%;
    bottom: 0;
    left: calc(50% - 25%);
    top: 82px;
}
.sponsorsIconsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes translation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-5100px);
    }
}
.sponsorsIconsImg {
    width: 15%;
    display: inline-block;
    margin: 0px 80px 0px 80px;
    animation: translation 50s linear infinite;
}

@media only screen and (max-width:1440px) {
    #sponsors{
        margin-bottom: -10%;
    }
}
@media only screen and (max-width:1200px) {
    #sponsors{
        margin-bottom: -15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sponsorsIconsDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width:1000px) {
    #sponsors{
        margin-bottom: -18%;
    }
    .sponsorsIconsDiv {
        margin-top: 10%;
    }
}
@media only screen and (max-width:800px) {
    #sponsors{
        margin-bottom: -22%;
    }
    .sponsorsIconsDiv {
        margin-top: 15%;
    }

}
@media only screen and (max-width:650px) {
    #sponsors{
        margin-bottom: -30%;
    }
    .sponsorsIconsDiv {
        margin-top: 20%;
    }
}
@media only screen and (max-width:560px) {
    #sponsors{
        margin-bottom: -35%;
    }
    .sponsorsIconsDiv {
        margin-top: 25%;
    }
}
@media only screen and (max-width:470px) {
    #sponsors{
        margin-bottom: -45%;
    }
    .sponsorsIconsDiv {
        margin-top: 30%;
    }
    .sponsorsText{
        font-size: 40px;
    }
}
@media only screen and (max-width:400px) {
    #sponsors{
        margin-bottom: -45%;
    }
    .sponsorsIconsDiv {
        margin-top: 22%;
    }
    .sponsorsText{
        font-size: 40px;
    }
}
